@font-face {
    font-family: "citrixnewsans-regular";
    src: url("/material/assets/fonts/citrix/eot/CitrixNewSans-Regular.eot") format("eot"), url("./fonts/citrix/woff/CitrixNewSans-Regular.woff") format("woff"), url("_static/fonts/woff2/CitrixNewSans-Regular.woff2") format("woff2"), url("_static/fonts/ttf/CitrixNewSans-Regular.ttf") format("truetype"), url("_static/fonts/otf/CitrixNewSans-Regular.otf") format("opentype"); }
  @font-face {
    font-family: "citrixnewsans-bold";
    src: url("./_static/fonts/eot/CitrixNewSans-Bold.eot") format("eot"), url("_static/fonts/woff/CitrixNewSans-Bold.woff") format("woff"), url("_static/fonts/woff2/CitrixNewSans-Bold.woff2") format("woff2"), url("_static/fonts/ttf/CitrixNewSans-Bold.ttf") format("truetype"), url("_static/fonts/otf/CitrixNewSans-Bold.otf") format("opentype"); }
  @font-face {
    font-family: "citrixnewsans-bolditalic";
    src: url("./_static/fonts/eot/CitrixNewSans-bolditalic.eot") format("eot"), url("_static/fonts/woff/CitrixNewSans-bolditalic.woff") format("woff"), url("_static/woff2/fonts/CitrixNewSans-bolditalic.woff2") format("woff2"), url("_static/fonts/ttf/CitrixNewSans-bolditalic.ttf") format("truetype"), url("_static/fonts/otf/CitrixNewSans-bolditalic.otf") format("opentype"); }
  @font-face {
    font-family: "citrixnewsans-italic";
    src: url("./_static/fonts/eot/CitrixNewSans-Italic.eot") format("eot"), url("_static/fonts/woff/CitrixNewSans-Italic.woff") format("woff"), url("_static/fonts/woff2/CitrixNewSans-Italic.woff2") format("woff2"), url("_static/fonts/ttf/CitrixNewSans-Italic.ttf") format("truetype"), url("_static/fonts/otf/CitrixNewSans-Italic.otf") format("opentype"); }
  @font-face {
    font-family: "citrixnewsans-light";
    src: url("./_static/fonts/eot/CitrixNewSans-Light.eot") format("eot"), url("_static/fonts/woff/CitrixNewSans-Light.woff") format("woff"), url("_static/fonts/woff2/CitrixNewSans-Light.woff2") format("woff2"), url("_static/fonts/ttf/CitrixNewSans-Light.ttf") format("truetype"), url("_static/fonts/otf/CitrixNewSans-Light.otf") format("opentype"); }
  @font-face {
    font-family: "citrixnewsans-lightitalic";
    src: url("./_static/fonts/eot/CitrixNewSans-LightItalic.eot") format("eot"), url("_static/fonts/woff/CitrixNewSans-LightItalic.woff") format("woff"), url("_static/fonts/woff2/CitrixNewSans-LightItalic.woff2") format("woff2"), url("_static/fonts/ttf/CitrixNewSans-LightItalic.ttf") format("truetype"), url("_static/fonts/otf/CitrixNewSans-LightItalic.otf") format("opentype"); }
  @font-face {
    font-family: "citrixnewsans-semibold";
    src: url("./_static/fonts/eot/CitrixNewSans-SemiBold.eot") format("eot"), url("_static/fonts/woff/CitrixNewSans-SemiBold.woff") format("woff"), url("_static/fonts/woff2/CitrixNewSans-SemiBold.woff2") format("woff2"), url("_static/fonts/ttf/CitrixNewSans-SemiBold.ttf") format("truetype"), url("_static/fonts/otf/CitrixNewSans-SemiBold.otf") format("opentype"); }
  @font-face {
    font-family: "citrixnewsans-semibolditalic";
    src: url("./_static/fonts/eot/CitrixNewSans-SemiBoldItalic.eot") format("eot"), url("_static/woff/fonts/CitrixNewSans-SemiBoldItalic.woff") format("woff"), url("_static/fonts/woff2/CitrixNewSans-SemiBoldItalic.woff2") format("woff2"), url("_static/fonts/ttf/CitrixNewSans-SemiBoldItalic.ttf") format("truetype"), url("_static/fonts/otf/CitrixNewSans-SemiBoldItalic.otf") format("opentype"); }


/* go on with normal style definitions */
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video ,input[type="text"]{
    font-family: 'citrixnewsans-regular';
}

.md-typeset h1 {
    font-size: 1.4rem;
    font-weight: 100;
    color: #000
}

.md-typeset h2 {
    font-size: 1.2rem;
}
.md-header-border-top {
    border-top-width: 0.625rem;
    border-top-style: solid;
    border-top-color: rgb(0, 0, 0);
}

.md-header {
    height: 3.025rem!important;
}